html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 18px;
	font: 12px helvetica, sans-serif;
}

#container {
	width: 1000px;
	height: 500px;
	top: 50px;
	margin: 20px;
	position: relative;
	bottom: 0px;
}

.range {
    height: 120px;
    margin-bottom: 50px;
}

.range-title {
    height: 10px;
    text-align: center;
}

#cruise-map {
  height: 240px;
  margin-top: 10px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
}

.top-pad {
    padding-top: 20px;
}

.time {
    height:120px;
}

.pop {
	height: 200px;
}

.text {
	width: 950px;
	height: 160px;
}

.caption {
	width: 1000px;
	height: 50px;
	margin-top:10px;
}

.dc-chart .grid-line line {
	opacity: .75;
	stroke: #aaa;
}

.update-lag-msg {
	color: #ff0000;
	font-weight: bold;
}

#attenuation text.y-axis-label {
	font-size: 10px;
}
