html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 18px;
	font: 12px helvetica, sans-serif;
}

#topbar {
	width: 100%;
	height: 50px;
	top: 0px;
	margin: 0;
	position: absolute;
	text-align: center;
	margin-top: 20px;
	font: 24px helvetica, sans-serif, bold;
	z-index: 1;
}

#topleft {
	height: 50px;
	top: 0px;
	left: 0px;
	margin-left: 5px;
	margin-top: 5px;
	position: absolute;
	z-index: 2;
}

#topright {
	height: 50px;
	top: 0px;
	right: 0px;
	margin-right: 5px;
	margin-top: 5px;
	position: absolute;
	z-index: 2;
}

#bottomleft {
	height: 25px;
	bottom: 0px;
	left: 0px;
	margin-left: 5px;
	position: absolute;
}

#bottomright {
	height: 25px;
	bottom: 0px;
	right: 0px;
	margin-right: 5px;
	position: absolute;
}

.infoBox {
	font-size: 13px;
	font-family: helvetica, bold;
	margin: 5px;
	padding: 5px;
	background: white;
	border-radius: 5px;
}

#container {
	width: 1000px;
	height: 500px;
	top: 50px;
	margin: 20px;
	position: relative;
	bottom: 0px;
}

.gridly: {
	position: relative;
	width: 1000px;
}

.square.small {
	width: 200px;
	height: 200px;
}

.square.large {
	width: 500px;
	height: 500px;
}

.time {
	width:480px;
	height:120px;
	position: static;
}

.gmap {
	width: 500px;
	height: 480px;
}

.range {
	width: 1000px;
	height: 120px;
	position: relative;
	margin-bottom: 50px;
}

.range-title {
	width: 1000px;
	height: 10px;
	text-align: center;
}

.pop {
	width: 1000px;
	height: 300px;
}

.text {
	width: 950px;
	height: 160px;
}

.caption {
	width: 1000px;
	height: 50px;
	margin-top:10px;
}

.spacer {
	width: 1000px;
	height: 10px;
	position: relative;
}

.dc-chart .grid-line line {
	opacity: .75;
	stroke: #aaa;
}

.update-lag-msg {
	color: #ff0000;
	font-weight: bold;
}

#attenuation text.y-axis-label {
	font-size: 10px;
}
